#metatags-metatag-content_type-object_id-group.collapsed .inline-related {
	display: none;
}
#metatags-metatag-content_type-object_id-group.collapsed h2 {
	background-image: url(nav-bg.gif);
	background-position: left bottom;
	color: #999;
}
#metatags-metatag-content_type-object_id-group h3{
	display: none !important;
}

#metatags-metatag-content_type-object_id-group p.help{
	margin-left: 0;
	padding-left: 0;
	margin-top: 6px;
}

#metatags-metatag-content_type-object_id-group .index,
#metatags-metatag-content_type-object_id-group .archive,
#metatags-metatag-content_type-object_id-group .snippet,
#metatags-metatag-content_type-object_id-group .follow{
	width: 22%;
	padding: 12px 2% 10px 1%;
	margin: 0;
	float: left;
	border-bottom: 0;
}